[Unit]
Description=Daily TACT resource download
Requires=tact-downloader.service

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
